<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peisia.mapper.CardMapper">
	<!-- resultType 에 복수형(ArrayList 등)을 적는게 아님. 
	그냥 dto 단수의 경로를 적어야됨. -->
	<select id="getList" resultType="com.peisia.dto.CardDto">
		SELECT * from card_my where deployment = 0
	</select>	
	<insert id="addCard">
		insert into card_my (job,grade) values (#{job},#{grade})
	</insert>	
	<update id="pjMemberAdd">
		update card_my set deployment = 1 where id = #{id} and no = #{no}
	</update>
	<select id="getPjMember" resultType="com.peisia.dto.CardDto">
		SELECT * from card_my where deployment = #{no}
	</select>
	<update id="clearPjMember">
		update card_my set deployment = 0 where id = 'cat' and deployment = 1
	</update>
	<update id="updateMyCardDeployment">
		update card_my set deployment = 1 where id = 'cat' and no = #{no}
	</update>	
</mapper>
